<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--MyBatis 특성 상 <, > 등의 특수문자 처리가 안됨. 그래서 CDATA 처리가 필요!-->
<!--        https://soo-vely-dev.tistory.com/221-->

<mapper namespace="com.multicampus.foodiefair.dao.FollowProfileDAO">
    <select id="selectFollowerProfiles" resultType="java.util.HashMap" parameterType="map">
        SELECT u.userId, u.userName, u.userImg, f.followId
        FROM User u
        JOIN Follow f ON u.userId = f.followingId
        WHERE f.followedId = #{followedId} AND (#{lastFollowId} IS NULL OR f.followId <![CDATA[<]]> #{lastFollowId})
        ORDER BY f.followId DESC
        LIMIT #{perPage}
    </select>

    <select id="selectFollowingProfiles" resultType="java.util.HashMap" parameterType="map">
        SELECT u.userId, u.userName, u.userImg, f.followId
        FROM User u
                 JOIN Follow f ON u.userId = f.followedId
        WHERE f.followingId = #{followingId} AND (#{lastFollowId} IS NULL OR f.followId <![CDATA[<]]> #{lastFollowId})
        ORDER BY f.followId DESC
        LIMIT #{perPage}
    </select>
</mapper>
